@import '../../styles/_mixins.scss';

div.review {
	margin-bottom: 10px;

	div.author {
		svg.img {
			height: 32px;
		}
		h6.name {
			margin-left: 20px;
			@include text-400-14;
			color: var(--app-black-80) !important;
		}
	}
	div.info {
		margin: 10px 0px;
		div.marks {
			> svg {
				height: 16px;
				width: 16px;
			}
			> svg:not(.active) path {
				stroke: var(--app-black-60);
				fill: transparent;
			}
			> svg:not(:last-child) {
				margin-right: 2px;
			}
			> svg.active path {
				stroke: $active-Color;
				fill: $active-Color;
			}
		}
		h6.date {
			margin-left: 20px;
			@include text-400-14;
			color: var(--app-black-70) !important;
		}
	}

	h6.description {
		@include text-300-16-xs;
		@include mq-sm {
			@include text-300-16;
		}
		line-height: 150% !important;
	}
}
