@import "../../../styles/_mixins.scss";

.filepond--panel-root {
  background-color: var(--app-input-color) !important;
  
}
.filepond--wrapper{
  filter: var(--app-filter);
  cursor: pointer;
}

.filepond--drop-label label {
    cursor: pointer !important;
    color: var(--app-black) !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    font: var(--bs-font-sans-serif);
}