@import "../../../styles/_mixins.scss";

div.form {
    width: fit-content;

    .title {
        @include text-400-20;
        color: var(--app-black-90);
    }
    .subtitle, .validate {
        @include text-300-16;
    }
    .validate {
        text-align: end;
    }
}
