@import "../../styles/_mixins.scss";

nav.header {
    width: 100%;
    padding: 0px;
    background-color: var(--bs-body-bg);
    border-bottom: solid 2px var(--app-border-block);
    z-index: 1100;
    
    div.container {
        max-width: 95%;

        svg.menu path {
            stroke: var(--app-black-90);
        }

        h5.logo {
            cursor: pointer;
            color: var(--app-black);
            font-weight: 500;
            transition: all $time-Animation $type-Animation;
            @include mq-sm {
                font-size: 24px;
            }
            
            &:hover {
                transform: $scale-Transform;
                color: $active-Color;
            }
        }

        div.rightMenu {
            cursor: pointer;
            transition: transform $time-Animation $type-Animation;

            p {
                width: 160px;
                text-align: end;

                @include mq-sm {
                    width: fit-content; 
                }

                &.name {
                    color: var(--app-black-90);
                    font-weight: 400;
                    font-size: 16px;
                }

                &.status {
                    color: var(--app-black-80);
                    font-weight: 300;
                    font-size: 14px;
                } 
            }
            div.accountImg svg {
                width: 30px;
                height: 30px;
                path {
                    stroke-width: 1.5px;
                    stroke: var(--app-black-80);
                }
            }
            &:hover {
                transform: $scale-Transform;
            }
        }
    }
}
