@import "../../../styles/_mixins.scss";

input.input {
    height: 60px;
    padding: 14px 20px;
    @include text-300-20;
    color: var(--app-black);
    border-radius: 8px;
    border-color: transparent;
    filter: var(--app-filter);
    background-color: var(--app-input-color);
}
